<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<form action="/admin/backup" method="POST">
    <button style="margin-top: 10px;" class="w3-button w3-black" type="submit">建立備份</button>
</form>
