<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<label for="">設備: </label>
<%= data[0].pcid %>
<br>
<label for="">回報著: </label>
<%= data[0].name %>
<br>
<label>內容: </label> 
<%= data[0].report %>
<br>
<label>時間: </label> 
<%= data[0].date %>
