<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        $.ajax({
            url: '/api/teacher',
            method: 'GET'
        })
        .done(function(msg){
            console.log(msg)
            $('#teacher_list').html('')
            for (let i = 0; i < msg.length; i++) {
                $('#teacher_list').append(`
                <tr class="w3-hover-text-green">
                    <td><input type="checkbox" name="delete" value=${msg[i].username}></td>
                    <td>${msg[i].name}</td>
                    <td>${msg[i].username}</td>
                </tr>`)
            }
           
        })
        $('#count').change(function(){
            var count = $('#count').val()
            console.log(count)
            if (count > 0) {
                $('#chicken').html('')
                $('#chicken').append("<div><label>課程序號</label></div>")
            } else if (count == 0) {
                $('#chicken').html('')
            }
            
            for(i=0; i< count; i++){
                $('#chicken').append("<div class='w3-half'><label>課號</label><input class='w3-input' name='class"+i+"-"+"1"+"'></div>\
                <div class='w3-half'><label>課名</label><input class='w3-input' name='class"+i+"-"+"2"+"'>\
                </div>")
            }
        })
        $('input[type="checkbox"]').click(function(){
            if($(this).is(":checked")){
                console.log("Checkbox is checked.");
            }
            else if($(this).is(":not(:checked)")){
                console.log("Checkbox is unchecked.");
            }
        });
    })
</script>
<h3 style="margin-top: 100px;">老師資訊</h3>
<form action="deleteInfo" method="POST">
<table class="w3-table-all w3-container" >
    <thead>
        <tr class="w3-green">
            <th>#</th>
            <th>老師姓名</th>
            <th>老師id</th>
        </tr>
      </thead>
      <tbody id="teacher_list">
      </tbody>
</table>
<input id="but" class="w3-button w3-green w3-margin" type="submit" value="刪除老師帳戶">
</form>
<h3 style="margin-top: 130px;">建立老師資訊</h3>
<form class="w3-container" style="margin-top: 30px;" action="info" method="post" id="myForm">
    <label>老師id</label>
    <input class="w3-input" name="id">
    <label>老師姓名</label>
    <input class="w3-input" name="name">
    <label>課數</label>
    <input class="w3-input" id="count">
    <div id="chicken" >
    </div>
    <button style="margin-top: 10px;" class="w3-button w3-green" type="submit">確認</button>
</form>