<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style>
		.a {
			font: '600 16px/18px 'Open Sans',sans-serif';
		}
	</style>
</head>
<body>
	<link rel="stylesheet" type="text/css" href="/css/w3.css">
	<div class="w3-bar w3-blue"> <!-- navbar--> 
		<a href="/" class="w3-bar-item w3-button" style="font: 600 16px/18px 'Open Sans',sans-serif;">首頁</a>
		<a href="/new" class="w3-bar-item w3-button" style="font: 600 16px/18px 'Open Sans',sans-serif;">最新消息</a>
		<a href="/student" class="w3-bar-item w3-button" style="font: 600 16px/18px 'Open Sans',sans-serif;">學生簽到</a>
		<a href="/teacher" class="w3-bar-item w3-button" style="font: 600 16px/18px 'Open Sans',sans-serif;">老師管理</a>
		<!--<a href="/admin" class="w3-bar-item w3-button" style="font: 600 16px/18px 'Open Sans',sans-serif;">管理員登錄</a>
		<a href="#" class="w3-bar-item w3-button" style="font: 600 16px/18px 'Open Sans',sans-serif;">成果展示</a>
		<a href="#" class="w3-bar-item w3-button" style="font: 600 16px/18px 'Open Sans',sans-serif;">實驗室介紹</a>-->
		
	</div><!--navbar end here-->
</body>
</html>