<style>
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}
</style>
<link rel="stylesheet" type="text/css" href="/css/w3.css">
<div class="footer w3-blue" >
  <p>健行科技大學
Chien Hsin University, No.229, Jianxing Rd. , Zhongli Dist., Taoyuan City 320312, Taiwan(R.O.C.)</p>
</div>