<style type="text/css">
#logo
{
	width: 30%;
	padding: 10px;
}
#logo2
{
	width: 10%;
}
header
{
	background-color: white;
}
</style>
<header ><!-- header(content a logo pic) -->
	<div>
		<img id="logo" src="/image/D518_logo_ver3.png">
		<img style="width: 15%; margin-top: 50px;" id="logo2" class="w3-display-topright" src="/image/157048440947491.png">
	</div>
</header>