<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>實驗室管理系統</title>
</head>
<body>
    <%- include('../partials/header.ejs') -%>
    <%- include('../partials/bar.ejs') -%>
    <%- body -%>
<!--<%- include('../partials/footer.ejs') -%>-->
</body>
</html>