<!DOCTYPE html>
<html>
<head>
	<title>實驗室管理系統</title>
	<link rel="stylesheet" type="text/css" href="css/w3.css">
	<link rel="stylesheet" type="text/css" href="css/index.css">
	<style type="text/css">
	</style>
</head>
<body>
	<div class="row w3-container w3-animate-opacity"><!--content-->
		<div class="column w3-container" style="padding-top: 20px;">
            <%- include("./partials/gallery.ejs") %>
		</div>
		<div class="column w3-container w3-center w3-content">
			<h2 class="w3-wide">資通安全實驗室</h2>
			<p class="w3-opacity"><i>電資學院 D518室</i></p>
			<p id="card" class="w3-justify w3-xlarge w3-card-4 w3-light-grey">民國 95 年12 月成立於電資學院108，因學生數增加，配合課程擴增實驗室，於民國101 年8 月遷於電資學院518
			目前實驗室設備有個人電腦PC、硬體加密模組HSM、入侵防禦系統IPS、防火牆Firewall、防毒牆、原始碼檢測平台、雲端身分認證MOTP平台、行動雲端大數據加密管理系統等資安與網安設備。
			</p>
		</div>
	</div>
</body>
</html>