<link rel="stylesheet" type="text/css" href="/css/vertical_tab.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-flat.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC|Roboto&display=swap" rel="stylesheet">
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!--<script type="text/javascript">
	$(document).ready(function(){
		$("button").click(function(){
			console.log('trigger');
			var class_ID = $(this).attr("value");
			$.ajax({
				url: '/api/studentList',
				method: 'GET'
			})
			.done(function(msg){
				const filterClassID = msg.filter(function(item, index, arrat){
					return item.classID === class_ID;
				});
				//console.log(filterClassID);
				localStorage.setItem("lastname", JSON.stringify(filterClassID));
				var retrievedObject = localStorage.getItem('lastname');
				var jsonFormat = JSON.parse(retrievedObject)
				//console.log(jsonFormat)
				//document.getElementById("result").innerHTML = JSON.parse(retrievedObject);
			});

		});
	});
</script>-->
<div>
	<header class="w3-container" style="padding-top:22px">
        <h5><b><i class="icon-dashboard"></i> My Course</b></h5>
    </header>
	<div class="w3-main">
		<div class="w3-row-padding w3-margin-bottom w3-container">
			<% for(var i=0; i<Data.course.length; i++) {%>
			<div class='w3-quarter'>
				<button name='course_id' value="<%= Data.course[i][0] %>" type='button' style='width: 100%' class='w3-container w3-red w3-button w3-padding-16 '>
					<div class='w3-left'><i class='fas fa-user-graduate w3-xxxlarge'></i></div>
					<div class='w3-right'>
					<!--右邊數字-->
					</div>
					<div class='w3-clear'></div>
					<h4><%= Data.course[i] %></h4>
				</button>
			</div>
			<% } %>
		</div>
		<div class="w3-container" id="result">
			<%- include('student_manage_system') %> 
		</div>
	</div>
</div>


