
<!-- !PAGE CONTENT! -->
<link rel="stylesheet" href="css/pop.css" >
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
<style>
  * {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>
<div class="w3-main" style="margin-left:0px;margin-top:43px;">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

  <!-- Header -->
  <header class="w3-container" style="padding-top:22px">
    <h5><b><i class="icon-dashboard"></i> My Dashboard</b></h5>
  </header>

  <div class="w3-row-padding w3-margin-bottom">
    <div class="w3-quarter">
      <a href="rol">
        <div style="width: 100%" class="w3-button w3-container w3-orange w3-text-white w3-padding-16">
          <div class="w3-left"><i class="fa fa-users w3-xxxlarge"></i></div>
          <div class="w3-right">
            <!--右邊數字-->
          </div>
          <div class="w3-clear"></div>
          <h4>點名系統</h4>
        </div>
      </a>
    </div>
    <div class="w3-quarter">
      <a href="student_manage">
        <button style="width: 100%" class="w3-container w3-red w3-button w3-padding-16 ">
          <div class="w3-left"><i class="fas fa-user-graduate w3-xxxlarge"></i></div>
          <div class="w3-right">
            <!--右邊數字-->
          </div>
          <div class="w3-clear"></div>
          <h4>學生管理系統</h4>
        </button>
      </a>
    </div>
    <div class="w3-quarter">
      <a href="">
          <div style="width: 100%" class="w3-container w3-button w3-blue w3-padding-16">
            <div class="w3-left"><i class="fas fa-comment fa-fw w3-xxxlarge"></i></div>
            <div class="w3-right">
               <!--右邊數字-->
            </div>
            <div class="w3-clear"></div>
            <h4>留言板</h4>
          </div>
      </a>
    </div>
    <div class="w3-quarter">
      <a href="record">
        <div style="width: 100%" class="w3-button w3-container w3-teal w3-padding-16">
          <div class="w3-left"><i class="fa fa-history w3-xxxlarge"></i></div>
          <div class="w3-right">
            <!--右邊數字-->
          </div>
          <div class="w3-clear"></div>
          <h4>歷次簽到記錄</h4>
        </div>
      </a>
    </div>
    
  </div>

</div>

<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
    overlayBg.style.display = "none";
  } else {
    mySidebar.style.display = 'block';
    overlayBg.style.display = "block";
  }
}

// Close the sidebar with the close button
function w3_close() {
  mySidebar.style.display = "none";
  overlayBg.style.display = "none";
}

</script>

</body>
</html>
