<h1>Wellcome to Lab_System API</h1>
<a href="/api/course">課程資訊</a>
<a href="/api/studentList">學生名單</a>
<a href="/api/signin">簽到狀況</a>
<a href="/api/teacher">老師資訊</a>
<a href="/api/new">公告</a>
<a href="/api/log">Log查看</a>
<a href="/api/report">電腦狀況</a>
<a href="/api/admin">Admin</a>