<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="dev/array">
        <input type="checkbox" name="option" value="d10821040">1 <br>
        <input type="checkbox" name="option" value="y10610008">2 <br>
        <input type="checkbox" name="option" value="b10613042">3 <br>
        <input type="submit" name="" id="" value="sub">
    </form>
    
</body>
</html>
